APP_NAME=ping-uptime
SERVER_MODE=info
PORT=8080
HTTP_TIMEOUT=60
CACHE_EXPIRED=24
CACHE_PURGED=60

# Database
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=database
DB_USERNAME=root
DB_PASSWORD=

# Connection Pool
POOL_CONN_IDLE=200
POOL_CONN_MAX=300
POOL_CONN_LIFETIME=60

# JWT
JWT_DAY_EXPIRED=60
JWT_SIGNATURE_KEY=4WSRLWxJdm
